
.about {
    background-color: white;
    z-index: 2;
  }

  .about-content {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 180px;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    line-height: 22px;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out;
    overflow: hidden;
  }

  @media (max-width: 480px) {
    .about-content {
      margin: 0 4%;
    }
  }


  .about-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(9, 62, 234, 0.2);
  }

  .about-image img {
    position: relative;
    width: 210px;
    height: auto;
    margin-bottom: 50px;
    border-radius: 50%;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3);
    z-index: 3;
  }
