/* applies to most of the site */

.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: hidden;
}

/* styling for section titles */

.title-container-odd, .title-container-even {
  background-color: #f84b5a;
  width: 400px;
  height: 100px;
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  margin: 100px 0;
  position: relative;
}

@media (max-width: 480px) {
  .title-container-odd, .title-container-even {
    width: 100%;
    height: 100px;
  }
}

@media (min-width: 1024px) {
  .title-container-odd::before, .title-container-even::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #1c1c1c;
    transform: translateY(-50%);
  }

  .title-container-odd::before {
    left: 100%;
    width: 260%;
  }

  .title-container-even::before {
    left: -260%;
    width: 260%;
  }
}



.title-container-even {
  margin-left: auto; /* Push to the right */
  margin-right: 0; /* Ensure alignment to the right */
}

.section-title {
  font-size: 60px;
  color: black;
  position: relative; /* Ensure text stays above the line */
  z-index: 5;
}

/* wave divider */
.wave .shape-fill {
  fill: #1c1c1c;
}
