/* applies to most of the site */

.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-x: hidden;
}

/* styling for section titles */

.title-container-odd, .title-container-even {
  background-color: #f84b5a;
  width: 400px;
  height: 100px;
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  margin: 100px 0;
  position: relative;
}

@media (max-width: 480px) {
  .title-container-odd, .title-container-even {
    width: 100%;
    height: 100px;
  }
}

@media (min-width: 1024px) {
  .title-container-odd::before, .title-container-even::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #1c1c1c;
    transform: translateY(-50%);
  }

  .title-container-odd::before {
    left: 100%;
    width: 260%;
  }

  .title-container-even::before {
    left: -260%;
    width: 260%;
  }
}



.title-container-even {
  margin-left: auto; /* Push to the right */
  margin-right: 0; /* Ensure alignment to the right */
}

.section-title {
  font-size: 60px;
  color: black;
  position: relative; /* Ensure text stays above the line */
  z-index: 5;
}

/* navbar styling */

.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  overflow: hidden;
  padding: 0px 20px;
  margin: 5px auto;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: translateX(-20px);
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 2%;
    transform: translateX(0);
    box-sizing: border-box;
  }
}

.navbar a {
  display: inline-block;
  color:black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 30px;
  margin: 0px 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media (max-width: 480px) {
  .navbar a {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 30px;
    margin: 0px 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .navbar a:not(#home-link):not([href="#contact"]) {
    display: none;
  }
}


.navbar a:hover {
  background-color: rgb(234, 234, 237);
  color: #f84b5a;
}

.navbar a:active {
  color: black;
}

#home-link {
  color: #f84b5a;
}

/* welcome/landing page + particles */

.welcome {
  background-color: #1c1c1c;
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


.welcome-line1 {
  animation: fadeIn ease 4s forwards;
  animation-delay: 10ms;
  margin: 0px;
  font-family: Helvetica;
  font-weight: bold;
}

.welcome-line2 {
  color: white;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
}

.mit-text {
  display: inline-block;
  color: white;
  animation: mitColorChange 2s ease forwards;
  animation-delay: 1.5s;
}

@keyframes mitColorChange {
  from {
    color: white;
  }
  to {
    color: #a31f34;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.welcome button {
  background-color: transparent;
  border-color: #f84b5a;
  color: #f84b5a;
  padding: 10px 25px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  margin-top: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2s;
}


.welcome button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  filter: brightness(1.2)
}

/* about me */

.about {
  background-color: white;
}

.about-content {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 180px;
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  line-height: 22px;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out;
  overflow: hidden;
}

@media (max-width: 480px) {
  .about-content {
    margin: 0 4%;
  }
}


.about-content:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(9, 62, 234, 0.2);
}

.about-image img {
  position: relative;
  width: 210px;
  height: auto;
  margin-bottom: 50px;
  border-radius: 50%;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

/* journey/timeline */

.timeline {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 180px;
  z-index: 3;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; /* Center the line horizontally */
  transform: translateX(-50%); /* Offset the line to align with the center */
  width: 8px;
  height: 100%;
  background: linear-gradient(to bottom, #3498db, #6c5ce7); /* Gradient color */
  z-index: 2; /* Behind the content */
}

.timeline::after {
  content: "";
  position: absolute;
  top: -3%;
  left: -50%;
  width: 200%; /* Span the entire width of the section */
  height: 108%; /* Cover the entire section height */
  background-image: radial-gradient(circle, #cccccc 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust spacing between dots */
  z-index: 1; /* Place dots behind everything */
}

@media (max-width: 480px) {
  .timeline::after {
    content: "";
    position: absolute;
    top: -3%;
    left: 0%;
    width: 100%; /* Span the entire width of the section */
    height: 108%; /* Cover the entire section height */
    background-image: radial-gradient(circle, #cccccc 1px, transparent 1px);
    background-size: 20px 20px; /* Adjust spacing between dots */
    z-index: 1; /* Place dots behind everything */
  }
}


.timeline-content {
  padding: 15px 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text within the box */
  position: relative;
  z-index: 3; /* Ensure the content is above the timeline */
}

@media (max-width: 480px) {
  .timeline-content {
    padding: 15px 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text within the box */
    position: relative;
    z-index: 3; /* Ensure the content is above the timeline */
    margin: 0 4%;
  }
}

.timeline-content a {
  margin: 0 0 10px;
  font-size: 22px;
  color: #34495e;
}

.timeline-content ul {
  padding: 0;
  list-style: circle;
  text-align: left;
  margin: 20px 90px;
}

@media (max-width: 480px) {
  .timeline-content ul {
    padding: 0;
    list-style: circle;
    text-align: left;
    margin: 20px 20px;
  }
}

.timeline-content li {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.time {
  color: rgb(48, 48, 184);
}

#asij-item, #swiss-item, #mit-item {
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

#asij-item:hover, #swiss-item:hover, #mit-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(9, 62, 234, 0.2);
}

.timeline-item {
  position: relative;
  display: flex; /* Align items horizontally */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-bottom: 180px;
  z-index: 2;
}

.asij-image {
  max-width: 70px;
  /* max-height: 100px; */
  object-fit: cover; /* Trim excess space without distortion */
  object-position: center; /* Center the SVG content */
  margin-top: 20px;
}

.swiss-image {
  max-width: 60px;
  /* max-height: 100px; */
  object-fit: cover; /* Trim excess space without distortion */
  object-position: center; /* Center the SVG content */
  margin-top: 10px;
}


.mit-image {
  max-width: 50px;
  /* max-height: 100px; */
  object-fit: cover; /* Trim excess space without distortion */
  object-position: center; /* Center the SVG content */
  margin-top: 20px;
}

/* skills section */

.types {
  display: flex; /* Align child elements horizontally */
  justify-content: space-between; /* Space out the boxes evenly */
  align-items: flex-start; /* Align items to the top */
  gap: 10%;
  margin: 20px auto;
  max-width: 900px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .types {
    margin: 20px 50px;
  }
}

@media (max-width: 480px) {
  .types {
    display: block;
    margin: 0% 4%;
  }
}

.languages, .libraries {
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out;
  box-shadow: 0 4px 15px rgba(9, 62, 234, 0.2);
}

@media (max-width: 480px) {
  .languages, .libraries {
    margin: 20% 0;
    box-shadow: 0 4px 15px rgba(9, 62, 234, 0.2);
  }
}

.languages:hover, .libraries:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(9, 62, 234, 0.2);
  transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
}

.subheader {
  font-size: 20px;
  font-weight: bold;
  color: #4c61ab;
  margin-bottom: 25px;
}

.types > div {
  flex: 1; /* Make all boxes equal in size */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(77, 89, 145, 0.1);
  padding: 20px;
  padding-left: 50px;
  text-align: left;
  min-width: 200px;
}

.types > p {
  font-size: 15px;
  color: #555;
  margin: 0px 0;
}

.types hr {
  margin: -10px 35px 0px;
}

.skill {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skill-logo {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

/* projects section (not done) */

.projects {
  margin-bottom: 100px;
}

/* footer/contact me */

.footer hr {
  border-width: 0.4px;
  border-color:rgb(100, 183, 221);
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin: 20px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.contact-link:hover .contact-icon {
  transform: scale(1.2);
  filter: brightness(1.2);
}
